.sign-in-and-up {
  width: 850px;
  display: flex;
  justify-content: space-between;
  margin: 25px auto;
  font-size: 1.2em;
}

.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px;
  }

  .buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}

.sign-up {
  display: flex;
  flex-direction: column;
  width: 380px;

  .title {
    margin: 10px 0;
  }
}